@font-face {
    font-family: 'Dream Avenue';
    src: url('/fonts/dream-avenue-modern-classic/Dream\ Avenue.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

.cabeçalho {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.cabeçalhoimg {
    width: 100%;
    height: auto;
    display: block; 
    margin: 0;
    padding: 0;
}

.texto {
    font-family: 'Dream Avenue';
    position: absolute;
    top: 25%; 
    left: 52%;
    transform: translate(-50%, -50%); 
    color:#69443c; 
    font-size: 2.5rem; 
    text-align: center;
    margin-bottom: 5px;
}

.texto h1 {
    margin-bottom: 5px;
}

.texto p {
    font-size: 1.5rem;
}



@media (max-width: 480px) {

    .cabeçalhoimg {
        width: 100%;
        height: 20vh;
        display: block; 
        margin: 0;
        padding: 0;
    }
   

    .texto {
        font-size: 1rem; 
        top: 10%;
        left: 50%; 
    }

    .texto p {
        font-size: 0.90rem; 
    }
}


@media (min-width: 481px) and (max-width: 1024px) {
   

    .texto {
        font-size: 2.2rem; 
        top: 35%; /
    }

    .texto p {
        font-size: 1.4rem; 
    }
}


@media (min-width: 1025px) {
   

    .texto {
        font-size: 2.5rem; 
        top: 25%; 
    }

    .texto p {
        font-size: 1.5rem; 
    }
}
