@font-face {
    font-family: 'Dream Avenue';
    src: url('/fonts/dream-avenue-modern-classic/Dream\ Avenue.ttf') format('truetype');
}

.serviços {
    background-color: #E6DAD1;
    padding-top: 4em; 
}

.serviços_titulo {
    color: #69443C;
    font-family: 'Dream Avenue', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
}

.descrição_titulocabelo {
    color: black;
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    margin-left: 5em;
    margin-top: -2.2;
}

.descrição_titulocabelo2 {
    color: #69443C;
    font-family: "Dream Avenue", sans-serif;
    font-size: 2.5rem;
    margin-left: 9em;
    margin-top: -2.3em;
}

.descrição_imagem {
    font-size: 1.2rem;
    color: black;
    font-family: 'Poppins', sans-serif; 
    line-height: 1.6; 
}



.conteiner_pai {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 15px; 
    margin-top: 2em; 
}

.serviço_container, .outros_container {
    flex: 1; 
    max-width: 48%; 
}

.serviços_imagens, .outros_imagens {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
}

.serviços_imagens {
    padding-left: 40px; 
    padding-right: 20px; 
}


.serviço_item img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 480px) {
    .serviços_imagens {
        grid-template-columns: 1fr; 
    }

    .serviço_item img {
        max-width: 150px; 
    }
}


@media (min-width: 481px) and (max-width: 1024px) {
    .serviços_imagens {
        grid-template-columns: repeat(2, 1fr); 
    }

    .serviço_item img {
        max-width: 180px; 
    }
}

.outros_container {
    background-color: #69443C; 
    padding-top: 4em;
    padding-bottom: 4em;
    border-radius: 10%;
    margin-top: 6.5em; 
    
    
}

.outros_titulo {
    color: black; 
    font-family: 'Dream Avenue', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: -3.5em; 
    margin-bottom: 1em; 
}

.outros_imagens {
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 20px;
    justify-items: center; 
}

.outros_item img {
    width: 100%;
    max-width: 350px; 
    height: auto;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.outros_descricao {
    font-size: 1.2rem; 
    color: #E6DAD1; 
    text-align: center; 
    margin-top: 10px;
}

.botao-agendar {
    background-color: #E1B4AA; 
    color: #69443C; 
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem; 
    padding: 0.8em 1.5em; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.2s; 
}

.botao-agendar:hover {
    background-color: #69443C; 
    color: #E1B4AA; 
    transform: scale(1.05); 
}

.outros_botao {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}
