@font-face {
    font-family: 'Dream Avenue';
    src: url('/fonts/dream-avenue-modern-classic/Dream\ Avenue.ttf') format('truetype');
}

.serviços {
    background-color: #E6DAD1;
    padding-top: 4em; 
}

.serviços_titulo {
    color: #69443C;
    font-family: 'Dream Avenue', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
}
.descricao_titulos {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 1em; 
    margin: 0 auto; 
    margin-top: 1em; 
}

.descrição_titulocabelo {
    color: black;
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: italic;
    position: relative; 
    font-size: 2.5rem;
    top: 0.40em;
    margin-left: 5em;
    margin-top: 0;
}

.descrição_titulocabelo2 {
    color: #69443C;
    font-family: "Dream Avenue", sans-serif;
    font-size: 2.5rem;
    position: relative; 
    top: -1em;
    margin-left: 9em; 
    margin-top: 0; 
}


.descrição_imagem {
    font-size: 1.2rem;
    color: black;
    font-family: 'Poppins', sans-serif; 
    line-height: 1.6; 
}



.conteiner_pai {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 15px; 
    margin-top: 2em; 
}

.serviço_container, .outros_container {
    flex: 1; 
    max-width: 48%; 
}

.serviços_imagens, .outros_imagens {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
}

.serviços_imagens {
    padding-left: 40px; 
    padding-right: 20px; 
}


.serviço_item img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.outros_container {
    background-color: #69443C; 
    padding-top: 4em;
    padding-bottom: 4em;
    border-radius: 10%;
    margin-top: 6.5em; 
    
    
}

.outros_titulo {
    color: black; 
    font-family: 'Dream Avenue', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: -3.5em; 
    margin-bottom: 1em; 
}

.outros_imagens {
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 20px;
    justify-items: center; 
}

.outros_item img {
    width: 100%;
    max-width: 350px; 
    height: auto;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.outros_descricao {
    font-size: 1.2rem; 
    color: #E6DAD1; 
    text-align: center; 
    margin-top: 10px;
}
.botao-agendar {
    background-color: #E1B4AA;
    color: #69443C;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; 
    padding: 1em 2.5em; 
    border: none;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    width: fit-content; 
    max-width: 400px; 
    margin-top: -5em;
}


.botao-agendar:hover {
    background-color: #69443C; 
    color: #E1B4AA; 
    transform: scale(1.05); 
}

.outros_botao {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

@media (max-width: 1024px) {
    .serviços_titulo {
        font-size: 3rem;
    }
    .descricao_titulos {
        flex-direction: column;
        gap: 0.5em;
    }
    .descrição_titulocabelo {
        font-size: 2rem;
        margin-left: 3.5em;
        margin-top: 0;
    }

    .descrição_titulocabelo2 {
        font-size: 2rem;
        margin-left: 7em;
        margin-top: 0;
    }
    .conteiner_pai {
        flex-direction: column;
        align-items: center;
    }
    .serviço_container, .outros_container {
        max-width: 100%;
    }
    .serviços_imagens {
        padding-left: 20px;
        padding-right: 20px;
    }
    .outros_imagens {
        grid-template-columns: 1fr;
    }

    .outros_botao {
        display: flex; 
        justify-content: center; 
        margin-top: 20px; 
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .serviços_titulo {
        font-size: 2.5rem;
    }
    .descricao_titulos {
        gap: 0.5em;
    }
    .descrição_titulocabelo, .descrição_titulocabelo2 {
        font-size: 1.8rem;
    }
    .conteiner_pai {
        margin-top: 1em;
    }
    .serviços_imagens {
        grid-template-columns: 1fr;
    }
    .botao-agendar {
        width: 90%;
        font-size: 1.3rem;
    }
    .outros_botao {
        display: flex; 
        justify-content: center; 
        margin-top: 20px; 
        font-size: 1em;
    }

}

@media (max-width: 480px) {

    .outros_imagens img {
        width: 20em;
        max-width: 90%; 
        height: auto;
        object-fit: cover;
    }

    .serviços_titulo {
        font-size: 2rem;
    }
    .descricao_titulos {
        gap: 0.3em;
    }
    .descrição_titulocabelo, .descrição_titulocabelo2 {
        font-size: 1.6rem;
    }
    .botao-agendar {
        width: 100%;
        font-size: 1.2rem;
        padding: 1em;
    }
    .outros_botao {
        display: flex; 
        justify-content: center; 
        margin-top: 20px; 
        font-size: 1em;
    }
    .botao-agendar {
        padding: 0.6em 1.5em; 
        max-width: 220px;
        margin-top: -7em 
    }

    
}